<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Darwin's Puddle</title>
  </head>
  <body style="display: flex; flex-direction: column; margin: 0px">
    <div class="gameArea" style="width: 90%; height: 90%; display: block"></div>
    <div class="textArea" style="height: 10%; display: block"></div>
  </body>
</html>
